html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

/* Enlaces */
a, .btn-link {
    color: #16C79A;
}

    a:hover, .btn-link:hover {
        color: #24E0B4;
        text-decoration: none;
    }

/* Botones */
.btn.btn-primary {
    background-color: #0F3460 !important;
    border-color: #0F3460 !important;
    color: white;
}

    .btn.btn-primary:hover {
        background-color: #1D4F91 !important;
        border-color: #1D4F91 !important;
    }

.btn.btn-success {
    background-color: #16C79A;
    border-color: #16C79A;
    color: white;
}

    .btn.btn-success:hover {
        background-color: #1ED7A3;
        border-color: #1ED7A3;
    }

.btn-danger {
    background-color: #FF4C29;
    border-color: #FF4C29;
    color: white;
}

    .btn-danger:hover {
        background-color: #FF6849;
        border-color: #FF6849;
    }

/* Tarjetas y formularios */
.card, .form-control, .form-group {
    background-color: white;
    color: black;
    border-color: white;
}

input.form-control,
select.form-control,
textarea.form-control {
    background-color: white;
    color: black;
    border: 1px solid #283C63;
}

    input.form-control:focus {
        border-color: #16C79A;
        box-shadow: 0 0 0 0.2rem rgba(22, 199, 154, 0.25);
    }

/* Etiquetas de formularios */
label {
    color: black;
    font-size: 1.05rem;
    font-weight: 500;
}

/* Línea divisora */
hr {
    border-color: #2E3A59;
}

/* Navbar */
.navbar {
    background-color: teal !important;
}

.navbar-brand,
.navbar-nav .nav-link {
    color: #FFFFFF !important;
}

    .navbar-nav .nav-link:hover {
        color: #16C79A !important;
    }

/* Texto general */
body {
    font-size: 1.05rem;
    color: black;
}
